*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: #202024;
    height: 100vh;
    font-family: sans-serif;
    font-size: medium;

}
hr{
    height: 0.1px;
}

#you{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 80px;
    background-image: url(/img/background.png);
}


#logo{
    width: 100px;
    height: 100px;
}

#search{
    display: flex;
    background-color: #3c3c3e;
    border-radius: 30px;
}

#cube_search{
    display: flex;
}

#cube_search input{
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    padding-left: 7px;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;

    border: #aeaeb2 solid 1px;
    width: 100px ;
    height: 10px;
    padding: 20px;
    border-radius: 30px;

}

#sign{
    background-color: #4a72f5;
}


main{
    display: flex;
    flex-wrap: 5px;
    height: 70vh;
}

aside{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    height: 65vh

}

aside a{
    width: 100px;
    display: flex;
    
    align-items:center;
    text-decoration: none;
    color: white;
}

.cube{
    width: 30px;
    height: 30px;
    background-color: #3c3c3e;
}

aside .cube{
    background-color: #4a72f5;
}
h3{
    text-align: left;
}
#sec_father{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first_sec{
    display: flex;
    width: 800px;
    margin-bottom: 5px;
}

#lorem{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #3c3c3e;
    border-radius: 20px;
}

#people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    background-color: #3c3c3e;
    margin-left: 5px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    
}

#lorem img{
    width: 200px;
    height: 150px;
}

#lorem p{
    text-align: justify;
}

#boton_iris img{
    width: 20px;
    height: 20px;
}






#ask{
    margin-left: 80px;
    background-color: #3c3c3e;
    width: 400px;
    height: 87.8vh;
    
}
#ask p{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#ask h3{

    margin: 10px;
}

#ask hr{
    margin-left: 10px;
}

#make{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    background-image: url(/img/background.png);
    border-radius: 20px;
}

#boton_iris{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    border: white solid 1px;
    background-color: #4a72f5;
    width: 300px;
    height: 30px;
}

